extends layout

block content
    div.container-fluid
        div.col-md-6
            div.room-data
                div.col-md-3.col-sm-3.col-xs-6
                    div.room-data-ico.pull-left
                    div
                        div #{room.online}
                        span 在线人数
                div.col-md-3.col-sm-3.col-xs-6
                    div.room-data-ico.pull-left
                    div
                        div #{room.user.max_glod || 0}
                        span 您当天总大米
                div.col-md-3.col-sm-3.hidden-xs
                    div.room-data-ico.pull-left
                    div
                        div #{room.data.max_glod || 0}
                        span 当天最大大米
        div.col-md-4
        div.col-md-2

block append script
    script.
        var socket = io('http://127.0.0.1:8080');
        socket.on('news', function (data) {
        console.log(data);
        socket.emit('my other event', { my: 'data' });
        });