extends layout
block append head
    link(rel='stylesheet', href='/css/game.css')
block content
    div.container-fluid
        div.col-md-6
            div.room-data.clearfix#room-data
                div.col-md-3.col-sm-3.col-xs-6
                    div.room-data-ico.pull-left
                    div
                        div {{onlineCount}}
                        span 在线人数
            p
        div.col-md-4
            div 在线用户
            p
            div#players
                ul.list-unstyled
                    li(v-for='list in onlineUsers')
                        p.text-overflow {{list}}
        div.col-md-2
            div#lt
                div.lt-room
                    div.lt-message
                        ul.list-unstyled
                            li(v-for="list in message")
                                span {{list.name}} : {{list.message}}
                    textarea.lt-content.form-control(placeholder='按回车发言', v-model='content', 'v-on:keyup.enter'='send', onkeydown='if(event.keyCode == 13){event.preventDefault()}')
block append script
    script(src="/js/vue.min.js")
    script(src="/js/socket.io-1.4.5.js")
    script(src="/js/game.js")

