extends layout

block content
    - for (var key in alert)
        - if (alert[key])
            div(class="alert alert-#{key}")= alert[key]
    form(class="form", method="post")
        div(class="form-group")
            label(for="exampleInputUser") 用户名
            input(class="form-control", name='name', type='text', id="exampleInputUser" , placeholder="用户名")
        div(class="form-group")
            label(for="exampleInputPsd") 密码
            input(class="form-control", name='password', type='password', id="exampleInputPsd" , placeholder="密码")
        div(class="form-group")
            label(for="exampleInputRePsd") 重复密码
            input(class="form-control", name='repassword', type='password', id="exampleInputRePsd" , placeholder="重复密码")
        div(class="form-group")
            label(for="exampleInputSex") 性别
            select(class="form-control", type='text',name='gender', id="exampleInputSex")
                option(value="m") 男
                option(value="f") 女
                option(value="x") 隐私
        div(class="form-group")
            label(for="exampleInputFile") 上传头像
            input(type="file",name='avatar', id="exampleInputFile")
            p(class="help-block") 请上传一张有趣的图像.
        div(class="form-group")
            label(for="exampleInputBio") 个人简介
            textarea(class="form-control", id="exampleInputBio", name='bio')
        button(class="btn btn-primary") 注册